.page {
  background-color: #2A2C2F;
  margin:0 auto;
  max-width:1280px;
  min-width:320px;
  width:100%;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
<<<<<<< HEAD
=======
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
>>>>>>> 989c63022716779b9e76584e741e1274ad561b90
  }

